<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_home') }}">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_departements') }}">Départements
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_women_at_work') }}">Women At Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_partners') }}">Partners</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_job_offer') }}">Offres d’emploi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>

    </body>
</html>
